<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/poupanca.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main-home">
        <img src="static/logo2.png">
        <p>A melhor maneira de administrar o seu dinheiro!</p>
        <div class="container">
            <a class="botao-entrar" href="/login">Entrar</a>
            <a class="botao-cadastrar"  href="/novo_user">Cadastrar-se</a>
        </div>
    </main>
</body>
</html>