<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='poupanca.css')}}">
    <title>Poupança</title>
</head>
<body>
    <header class="header-container">
        <h1>Poupança</h1>
    </header>
    <main class="main">
        <div class="meta">
            <div class="div1">
                <h1 class="titulo">Meta</h1>
                <input type="number" id="valor" placeholder="10.000">
            </div>
            <div class="meio"></div>
        </div>
        <div class="div2">
            <h1 class="titulo">Valor atual</h1>
            <h4>R$ {{ total }}</h4>
        </div>
        <div class="btn">
            <a class="botao-adicionar" href="/adicionar">+</a>
        </div>

    </main>
</body>
</html>